<div class='tweets row'>
	<div class='col-md-2'>
		<img class='profilePic' src='<%= status.user.profile_image_url %>'>
	</div>
	<div class='tweetBody col-md-10'>
		<div class='row'>
			<ul class='list-inline tweetRows h5'>
				<li><%= status.user.name %></li>
				<li class='small'><%= "@"+status.user.screen_name %></li>
				<li class='timeStamp'><%= status.created_at %></li>
				<li class='small'><%= status.user.location %></li>
			</ul>
		</div>
		<div class='row tweetRows'><%= status.text %></div>
		<div class='row tweetRows'><a href='#' class='small expCol'>Expand</a></div>
		<div class='row expansion'>
			<hr>
			<ul class='list-inline tweetRows'>
				<li><div class="expLabel">Retweets:</div><div class='retweets expNum'><%= status.retweet_count %></div></li>
				<li><div class="expLabel">Favorites:</div><div class='favorites expNum'><%= status.favorite_count %></div></li>
				<li class='fol'><div class='expLabel'>Followers:</div><div class='followers expNum'><%= status.user.followers_count %></div>
				</li>
				<li><div class='expLabel'>Tweets:</div><div class='totalTweets expNum'><%= status.user.statuses_count %>
				</div></li>
			</ul>
		</div>
	</div>
</div>