<div id='tweet<%= idNum %>'class='tweets row' data-tweetId='<%=idNum%>'>
	<div class='col-md-2'>
		<img class='profilePic' src='<%= status.user.profile_image_url %>'>
	</div>
	<div class='tweetBody col-md-10'>
		<div class='row'>
			<ul class='list-inline tweetRows h5'>
				<li><%= status.user.name %></li>
				<li class='small'><%= "@"+status.user.screen_name %></li>
				<li class='small'><%= month + " " + day%></li>
				<li class='small'><%= status.user.location %></li>
			</ul>
		</div>
		<div class='row'>
			<div class='tweetRows'><%= status.text %>
			</div>
		</div>
		<div class='row tweetRows'><a href='#' class='small expCol'>Expand</a></div>
		<div class='row expansion'>
			<ul class='list-inline tweetRows'>
				<li>Retweets:<br><span style='font-size:20px; color:#999999'><%= status.retweet_count %></span></li>
				<li>Favorite:<br><span style='font-size:20px; color:#999999'><%= status.favorite_count %></span></li>
				<li class='followers'>Followers:<br><span style='font-size:20px; color:#999999'><%= status.user.followers_count %></span>
				</li>
				<li>Tweets:<br><span style='font-size:20px; color:#999999'><%= status.user.statuses_count %></span></li>
			</ul>
		</div>
	</div>
</div>